{% extends "base.html" %}
{% block content %}

    <div class="row">
        <form class="col s12 card-panel" method="POST" action="">
            <h3 class="orange-text text-darken-2 center-align">Add a Recipe!</h3>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix orange-text">edit</i>
                    <input id="recipe_title" name="recipe_title" minlength="5" maxlength="50"
                     type="text" class="validate" required>
                    <label for="recipe_title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix orange-text">check_box</i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                    maxlength="1000" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix orange-text">lightbulb_outline</i>
                    <textarea id="recipe_method" name="recipe_method" minlength="5"
                    maxlength="1000" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_method">Method</label>
                </div>
            </div>
        </form>
    </div>
{% endblock %}