{% extends "base.html" %}
{% block content %}

    {% for recipes in recipes %}
        {{ recipes.recipe_title }}<br>
        {{ recipes.recipe_ingredients }}<br>
        {{ recipes.recipe_method }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text orange darken-2 text-shadow"><i class="material-icons">favorite</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text orange darken-2 text-shadow"><i class="material-icons">favorite</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text orange darken-2 text-shadow"><i class="material-icons">favorite</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}