{% extends "base.html" %}
{% block content %}

    <ul class="collapsible recipe-list">
        {% for recipes in recipes %}
        <li>
            <div class="collapsible-header white-text orange darken-2 text-shadow">
                <i class="material-icons">favorite</i><strong>{{ recipes.recipe_title }} - Click Me!</strong></div>
            <div class="collapsible-body white">
                <strong><h6>Ingredients</h6>{{ recipes.recipe_ingredients }}</strong>
                <strong><h6>Method</h6>{{ recipes.recipe_method }}</strong>
                <p><em>by: {{recipes.created_by}}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}